{% extends "base.html" %}

{% block title %}<title>Schuam - Lista de Barriles</title>{% endblock %}



{% block content %}
    {% block searcher %}
      <form method='GET' action=''>
      <input class="form-control form-control-dark w-100" name='q' type="text" placeholder="Buscar por identificador de barril" aria-label="Search">
      </form>
      <br>
    {% endblock %}
      <h2>Lista de barriles</h2>
      <p>Más reciente primero</p>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Barril Nro:</th>
              <th>Fecha Agregado:</th>
              <th>Observaciones:</th>
            </tr>
          </thead>
          <tbody>
          {% if barriles %}
            {% for barril in barriles %}
            <tr>
                <td><a href="{% url 'movimientoslistbarril' barril.barril_nro %}">{{ barril.barril_nro }}</td>
                <td>{{ barril.fecha_creacion }}</td>
                <td>{{ barril.observaciones }}</td>
            </tr>
            {% endfor %}
          {% endif %}
          </tbody>
        </table>
      </div>
{% endblock %}
{% block pagination %}
  {% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previa</a>
              {% endif %}
              <span class="page-current">
                  Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">siguiente</a>
              {% endif %}
          </span>
      </div>
  {% endif %}
{% endblock %}
