{% extends "base.html" %}

{% block title %}<title>Schuam - Lista de lotes</title>{% endblock %}

{% block content %}
      <h2>Lista de lotes</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Lote Nro:</th>
              <th>Fecha Agregado:</th>
              <th>Observaciones:</th>
            </tr>
          </thead>
          <tbody>
          {% if lotes %}
            {% for lote in lotes %}
            <tr>
                <td><a href="{% url 'lote_seguimientos_list' lote.lote_nro %}">{{ lote.lote_nro }}</td>
                <td>{{ lote.fecha_creacion }}</td>
                <td>{{ lote.observaciones }}</td>
            </tr>
            {% endfor %}
          {% endif %}
          </tbody>
        </table>
      </div>
{% endblock %}
{% block pagination %}
  {% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previa</a>
              {% endif %}
              <span class="page-current">
                  Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">siguiente</a>
              {% endif %}
          </span>
      </div>
  {% endif %}
{% endblock %}

