{% extends "base.html" %}

{% block title %}<title>Schuam - Lista de lotes</title>{% endblock %}

{% block content %}
    <h3>Seguimientos presentes para este lote:</h3>
    <br>

    <!-- Iterate first through the list of seguimiento* objects for a lote, then inner for through each seguimiento*-->
    {% for seguimiento in seguimientos %}
        {% if seguimiento %}
        <div class = "table-responsive">
            {% for innerseguimiento in seguimiento %}
                <caption > <a href = "{% url 'batch_maceracion_coccion_list' innerseguimiento.lote.lote_nro %}"> {{ innerseguimiento }} </a> </caption>
                    <label for = fechainico > --Fecha de creación: {{ innerseguimiento.fecha_inicio }} - - </label>
            {% endfor %}
        </div>
        {% endif %}
    {% endfor %}


    <!-- Check if there is not a "seguimiento*" object created for a lote, if not, we ask to create one-->

    {% if not seguimiento_maceracion_coccion %}
    <div class="col-sm-6 col-sm-offset-3">
        <a href="{% url 'maceracion_coccion_create' lote.lote_nro %}">Crear Planilla Maceracion / Coccion</a>

    </div>
    {% endif %}

    {% if not seguimiento_fermentacion %}
    <div class="col-sm-6 col-sm-offset-3">
        <a href="#">Crear Planilla Fermentación </a>
    </div>
    {% endif %}

    {% if not seguimiento_clarificacion_filtracion %}
    <div class="col-sm-6 col-sm-offset-3">
        <a href="#">Crear Planilla Clarificación / Fermentación </a>
    </div>
    {% endif %}

    {% if not seguimiento_carbonatacion %}
    <div class="col-sm-6 col-sm-offset-3">
        <a href="#">Crear Planilla Carbonatación</a>
    </div>
    {% endif %}


{% endblock %}
