{% extends "base.html" %}

{% block title %}<title>Schuam - Lista de lotes</title>{% endblock %}

{% block content %}

    <h3>Seguimientos presentes para este lote:</h3>
    <br>

    <!-- Check if there is not a "seguimiento*" object created for a lote, if not, we ask to create one-->

    {% if not seguimiento_maceracion_coccion %}
    <div class="col-sm-6 col-sm-offset-3">
        <a href="{% url 'maceracion_coccion_create' lote.lote_nro %}">Crear Planilla Maceracion / Coccion</a>
    </div>
    {% else %}
        <div class = "table-responsive">
            {% for innerseguimiento in seguimiento_maceracion_coccion %}
                <caption > <a href = "{% url 'batch_maceracion_coccion_list' innerseguimiento.lote.lote_nro %}"> {{ innerseguimiento }} </a> </caption>
                    <label for = fechainico > --Fecha de creación: {{ innerseguimiento.fecha_inicio }} - - </label>
            {% endfor %}
        </div>
    {% endif %}

    {% if not seguimiento_fermentacion %}
    <div class="col-sm-6 col-sm-offset-3">
        <a href="{% url 'fermentacion_create' lote.lote_nro %} ">Crear Planilla Fermentación </a>
    </div>
    {% else %}
        <div class = "table-responsive">
            {% for innerseguimiento in seguimiento_fermentacion %}
                <caption > <a href = "{% url 'fermentacion_list' innerseguimiento.lote.lote_nro %}"> {{ innerseguimiento }} </a> </caption>
                    <label for = fechainico > --Fecha de creación: {{ innerseguimiento.fecha_inicio }} - - </label>
            {% endfor %}
        </div>
    {% endif %}

    {% if not seguimiento_clarificacion_filtracion %}
    <div class="col-sm-6 col-sm-offset-3">
        <a href="#">Crear Planilla Clarificación / Filtración </a>
    </div>
    {% endif %}

    {% if not seguimiento_carbonatacion %}
    <div class="col-sm-6 col-sm-offset-3">
        <a href="#">Crear Planilla Carbonatación</a>
    </div>
    {% endif %}

    <br>
    <h3>Movimiento de barriles relacionados a este lote</h3>
    <br>
    <div class="col-sm-6 col-sm-offset-3">
        <a href="{% url 'movimientoslistlote' lote.lote_nro %}">Movimientos para este lote. </a>
    </div>


{% endblock %}
