{% extends "base.html" %}

{% block content %}

<form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form }}
    </table>
    <input type="submit" class="btn btn-primary" name="submit" value="Guardar">

</form>

<script>
  $(function () {
    $("#id_fecha").datepicker({
      format:'dd/mm/yyyy',
      startDate: 'today',
    });
    $("#id_egresa").datepicker({
      format:'dd/mm/yyyy',
      startDate: 'today',
    });
    $("#id_ingresa").datepicker({
      format:'dd/mm/yyyy',
      startDate: 'today',
    });
  });

</script>
{% endblock %}
