{% extends "base.html" %}

{% block title %}<title>Schuam - Lista de Barriles</title>{% endblock %}



{% block content %}
    {% block searcher %}
      <form method='GET' action=''>
      <input class="form-control form-control-dark w-100" name='q' type="text" placeholder="Buscar por identificador de barril" aria-label="Search">
      </form>
      <br>
      <form method='GET' action=''>
      <input class="form-control form-control-dark w-100" name='l' type="text" placeholder="Buscar por número de lote" aria-label="Search">
      </form>
      <br>
      {% if barrilsearch %}
        <p>
            <B>Movimientos para barril {{ barrilsearch }}</b>
        </p>
      {% endif %}
<a href="{% url 'movimientoslist' %}">Listar Todos</a>
    {% endblock %}
      <h2>Lista de Movimientos</h2>
      <p>
          <CITE>Más reciente primero</cite>
      </p>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Fecha:</th>
              <th>Barril Nro:</th>
              <th>Lote Nro:</th>
              <th>Cliente</th>
              <th>Ingresa:</th>
              <th>Egresa:</th>
              <th></th>
            </tr>
          </thead>
          <tbody>

          {% if movimientos %}
            {% for movimiento in movimientos %}
            <tr>
                <td>{{ movimiento.fecha }}</td>
                <td>{{ movimiento.barril }}</td>
                <td><a href="{% url 'lote_seguimientos_list' movimiento.lote.lote_nro %}">{{ movimiento.lote }}</td>
                <td>{{ movimiento.cliente }}</td>
                <td>{{ movimiento.ingresa }}</td>
                <td>{{ movimiento.egresa }}</td>
                <td><a href="{% url 'movimientosupdate' movimiento.id %}">Actualizar</td>

            </tr>
            {% endfor %}
          {% endif %}
          </tbody>
        </table>
      </div>
{% endblock %}
{% block pagination %}
  {% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previa</a>
              {% endif %}
              <span class="page-current">
                  Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">siguiente</a>
              {% endif %}
          </span>
      </div>
  {% endif %}
{% endblock %}
