        <!-- OLLA MACERACIÓN -->
            <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <caption style="caption-side: top;">Olla Maceración</caption>

                {{ olla_maceracion_form_set.management_form }}
                    <thead class="thead-dark">
                   {% for olla_maceracion_form in olla_maceracion_form_set %}

                       {% for hidden in olla_maceracion_form.hidden_fields %}
                        {{ hidden }}
                       {% endfor %}

                        {% if forloop.first %}
                            {% for field in olla_maceracion_form.visible_fields %}
                                <th>{{ field.label_tag }}</th>
                            {% endfor %}
                        {% endif %}
                    </thead>
                     <tbody>
                         <tr>
                                {% for field in olla_maceracion_form.visible_fields %}
                                    <td>{{ field }}{{ field.errors }}</td>
                                {% endfor %}
                            </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <!-- CORRECCION -->
                    <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <caption style="caption-side: top;">Corrección pH</caption>

                    {{ correccion_form_set.management_form }}
                        <thead class="thead-dark">
                       {% for correccion_form in correccion_form_set %}

                           {% for hidden in correccion_form.hidden_fields %}
                            {{ hidden }}
                           {% endfor %}

                            {% if forloop.first %}
                                {% for field in correccion_form.visible_fields %}
                                    <th>{{ field.label_tag }}</th>
                                {% endfor %}
                            {% endif %}
                        </thead>
                         <tbody>
                             <tr>
                                    {% for field in correccion_form.visible_fields %}
                                        <td>{{ field }}{{ field.errors }}</td>
                                    {% endfor %}
                                </tr>
                        {% endfor %}
                        </tbody>
                    </table>


                <!-- OLLA AGUA CALIENTE -->

                <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <caption style="caption-side: top;">Olla Agua Caliente</caption>

                    {{ olla_agua_caliente_form_set.management_form }}
                        <thead class="thead-dark">
                       {% for olla_agua_caliente_form in olla_agua_caliente_form_set %}

                           {% for hidden in olla_agua_caliente_form.hidden_fields %}
                                {{ hidden }}
                           {% endfor %}

                            {% if forloop.first %}
                                {% for field in olla_agua_caliente_form.visible_fields %}
                                    <th>{{ field.label_tag }}</th>
                                {% endfor %}
                            {% endif %}
                        </thead>
                         <tbody>
                             <tr>
                                    {% for field in olla_agua_caliente_form.visible_fields %}
                                        <td>{{ field }}</td>
                                    {% endfor %}
                                </tr>

                    <!-- NESTED FORMSET (ETAPA OLLA AGUA CALIENTE) -->
                    {% if olla_agua_caliente_form.nested %}

                        {{ olla_agua_caliente_form.nested.management_form }}
                        {{ olla_agua_caliente_form.nested.non_form_errors }}

                        <div class="table-responsive">
                        <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                            <caption style="caption-side: top;">Etapa Olla Agua Caliente</caption>
                            <thead class="thead-dark">
                                {% for form in olla_agua_caliente_form.nested.forms %}

                                {% for hidden in form.hidden_fields %}
                                     {{ hidden }}
                                {% endfor %}

                                    {% if forloop.first %}
                                        {% for field in form.visible_fields %}
                                            <th>{{ field.label_tag }}</th>
                                        {% endfor %}
                                    {% endif %}
                            </thead>
                            <tbody>
                                    <tr>
                                        {% for field in form.visible_fields %}
                                            <td>{{ field }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                        </div>

                    {% endif %}

                    {% endfor %}
                    </tbody>
                    </table>
