                <!-- CORRECCION -->
                    <table>
                    <caption style="caption-side: top;">Corrección pH</caption>

                    {{ correccion_form_set.management_form }}
                        <thead>
                       {% for correccion_form in correccion_form_set %}

                            {% if forloop.first %}
                                {% for field in correccion_form %}
                                    <th>{{ field.label_tag }}</th>
                                {% endfor %}
                            {% endif %}
                        </thead>
                         <tbody>
                             <tr>
                                    {% for field in correccion_form %}
                                        <td>{{ field }}</td>
                                    {% endfor %}
                                </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                <!-- OLLA MACERACIÓN -->
                    <table>
                        <caption style="caption-side: top;">Olla Maceración</caption>

                        {{ olla_maceracion_form_set.management_form }}
                            <thead>
                           {% for olla_maceracion_form in olla_maceracion_form_set %}

                                {% if forloop.first %}
                                    {% for field in olla_maceracion_form %}
                                        <th>{{ field.label_tag }}</th>
                                    {% endfor %}
                                {% endif %}
                            </thead>
                             <tbody>
                                 <tr>
                                        {% for field in olla_maceracion_form %}
                                            <td>{{ field }}</td>
                                        {% endfor %}
                                    </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                <!-- OLLA AGUA CALIENTE -->

                <table>
                    <caption style="caption-side: top;">Olla Agua Caliente</caption>

                    {{ olla_agua_caliente_form_set.management_form }}
                        <thead>
                       {% for olla_agua_caliente_form in olla_agua_caliente_form_set %}

                            {% if forloop.first %}
                                {% for field in olla_agua_caliente_form %}
                                    <th>{{ field.label_tag }}</th>
                                {% endfor %}
                            {% endif %}
                        </thead>
                         <tbody>
                             <tr>
                                    {% for field in olla_agua_caliente_form %}
                                        <td>{{ field }}</td>
                                    {% endfor %}
                                </tr>

                    <!-- NESTED FORMSET (ETAPA OLLA AGUA CALIENTE) -->
                    {% if olla_agua_caliente_form.nested %}

                        {{ olla_agua_caliente_form.nested.management_form }}
                        {{ olla_agua_caliente_form.nested.non_form_errors }}


                        <table>
                            <caption style="caption-side: top;">Etapa Olla Agua Caliente</caption>
                            <thead>
                                {% for form in olla_agua_caliente_form.nested.forms %}

                                    {% if forloop.first %}
                                        {% for field in form %}
                                            <th>{{ field.label_tag }}</th>
                                        {% endfor %}
                                    {% endif %}
                            </thead>
                            <tbody>
                                    <tr>
                                        {% for field in form %}
                                            <td>{{ field }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}

                            </tbody>
                        </table>

                    {% endif %}

                    {% endfor %}
                    </tbody>
                    </table>
